.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 5;
    border: 1px solid #333333;
    background: #1e3a5f;
    background-image: -webkit-linear-gradient(to top, #1e3a5f, #2a3640);
    background-image: -moz-linear-gradient(top, #1e3a5f, #2a3640);
    background-image: -ms-linear-gradient(top, #1e3a5f, #2a3640);
    background-image: -o-linear-gradient(top, #1e3a5f, #2a3640);
    background-image: radial-gradient(circle, #1e3a5f, #2a3640);
    -webkit-box-shadow: 0px 2px 6px #000000;
    -moz-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    width: fit-content;
    height: auto;
    border-radius: 3px;
  }
  
  .ico{
    background: #1e3a5f;
    background-image: -webkit-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -moz-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -ms-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -o-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: linear-gradient(to bottom, #1e3a5f, #2a5792);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    -moz-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
  }

  .alink {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .alink:link {
    color: #ff6a33;
  }
  
  .a:visited {
    color: #c77aff;
  }
  
  .btn {
    background: #1e3a5f;
    background-image: -webkit-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -moz-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -ms-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -o-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: linear-gradient(to bottom, #1e3a5f, #2a5792);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    -moz-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    font-family: Georgia;
    color: #e0e0e0;
    font-size: 15px;
    padding: 6px 40px 6px 40px;
    border-top: solid #2a5792 1px;
    border-right: solid #1e3a5f 1px;
    border-bottom: solid #0d223d 1px;
    border-left: solid #1e3a5f 1px;
    text-decoration: none;
  }
  
  .btnunsel {
    background: #2c2c2c;
    background-image: -webkit-linear-gradient(top, #2c2c2c, #1a1a1a);
    background-image: -moz-linear-gradient(top, #2c2c2c, #1a1a1a);
    background-image: -ms-linear-gradient(top, #2c2c2c, #1a1a1a);
    background-image: -o-linear-gradient(top, #2c2c2c, #1a1a1a);
    background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    -moz-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    font-family: Georgia;
    color: #c0c0c0;
    font-size: 15px;
    padding: 6px 40px 6px 40px;
    border-top: solid #3c3c3c 1px;
    border-right: solid #2c2c2c 1px;
    border-bottom: solid #1a1a1a 1px;
    border-left: solid #2c2c2c 1px;
    text-decoration: none;
  }
  
  .btnunsel:hover {
    background: #1e3a5f;
    background-image: -webkit-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -moz-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -ms-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -o-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: linear-gradient(to bottom, #1e3a5f, #2a5792);
    text-decoration: none;
  }
  
  .btnsel {
    background: #1e3a5f;
    background-image: -webkit-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -moz-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -ms-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: -o-linear-gradient(top, #1e3a5f, #2a5792);
    background-image: linear-gradient(to bottom, #1e3a5f, #2a5792);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    text-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 0px 2px 6px #000000;
    -moz-box-shadow: 0px 2px 6px #000000;
    box-shadow: 0px 2px 6px #000000;
    font-family: Georgia;
    color: #e0e0e0;
    font-size: 15px;
    padding: 6px 40px 6px 40px;
    border-top: solid #2a5792 1px;
    border-right: solid #1e3a5f 1px;
    border-bottom: solid #0d223d 1px;
    border-left: solid #1e3a5f 1px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2a5792;
    background-image: -webkit-linear-gradient(top, #2a5792, #3a67a2);
    background-image: -moz-linear-gradient(top, #2a5792, #3a67a2);
    background-image: -ms-linear-gradient(top, #2a5792, #3a67a2);
    background-image: -o-linear-gradient(top, #2a5792, #3a67a2);
    background-image: linear-gradient(to bottom, #2a5792, #3a67a2);
    text-decoration: none;
  }